<a href="https://colab.research.google.com/github/cesarrivera52/Actividad-1/blob/main/Actividad_CountryTable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
#importamos librerias requeridas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import io

In [17]:
#cargar archivo csv desde equipo
from google.colab import files
files.upload()

Saving CountryTable.csv to CountryTable (1).csv

{'CountryTable.csv': b'code,name,continent,region,surface_area,independence_year,population,life_expectancy,gnp,gnp_old,local_name,government_form,head_of_state,capital,code2\r\nABW,Aruba,North America,Caribbean,193,,103000,78.4,828,793,Aruba,Nonmetropolitan Territory of The Netherlands,Willem-Alexander,129,AW\r\nAFG,Afghanistan,Asia,Southern and Central Asia,652090,1919,22720000,45.9,5976,,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1,AF\r\nAGO,Angola,Africa,Central Africa,1246700,1975,12878000,38.3,6648,7984,Angola,Republic,Jose Eduardo dos Santos,56,AO\r\nAIA,Anguilla,North America,Caribbean,96,,8000,76.1,63.2,,Anguilla,Dependent Territory of the uK,Elisabeth II,62,AI\r\nALB,Albania,Europe,Southern Europe,28748,1912,3401200,71.6,3205,2500,Shqiperia,Republic,Rexhep Mejdani,34,AL\r\nAND,Andorra,Europe,Southern Europe,468,1278,78000,83.5,1630,,Andorra,Parliamentary Coprincipality,,55,AD\r\nANT,Netherlands Antilles,North America,Caribbean,800,,217000,74.7,1941,,Nederlandse Antillen,Nonmetropolitan Territory of The Netherlands,Willem-Alexander,33,AN\r\nARE,united Arab Emirates,Asia,Middle East,83600,1971,2441000,74.1,37966,36846,Al-Imarat al- Arabiya al-Muttahida,Emirate Federation,Zayid bin Sultan al-Nahayan,65,AE\r\nARG,Argentina,South America,South America,2780400,1816,37032000,75.1,340238,323310,Argentina,Federal Republic,Fernando de la Rua,69,AR\r\nARM,Armenia,Asia,Middle East,29800,1991,3520000,66.4,1813,1627,Hajastan,Republic,Robert KotSarjan,126,AM\r\nASM,American Samoa,Oceania,Polynesia,199,,68000,75.1,334,,Amerika Samoa,uS Territory,George W. Bush,54,AS\r\nATA,Antarctica,Antarctica,Antarctica,13120000,,0,,0,,N/A,Co-administrated,,,AQ\r\nATF,French Southern territories,Antarctica,Antarctica,7780,,0,,0,,Terres australes francaises,Nonmetropolitan Territory of France,Jacques Chirac,,TF\r\nATG,Antigua and Barbuda,North America,Caribbean,442,1981,68000,70.5,612,584,Antigua and Barbuda,Constitutional Monarchy,Elisabeth II,63,AG\r\nAuS,Australia,Oceania,Australia and New Zealand,7741220,1901,18886000,79.8,351182,392911,Australia,"Constitutional Monarchy, Federation",Elisabeth II,135,Au\r\nAuT,Austria,Europe,Western Europe,83859,1918,8091800,77.7,211860,206025,osterreich,Federal Republic,Thomas Klestil,1523,AT\r\nAZE,Azerbaijan,Asia,Middle East,86600,1991,7734000,62.9,4127,4100,Azarbaycan,Federal Republic,Heydar aliyev,144,AZ\r\nBDI,Burundi,Africa,Eastern Africa,27834,1962,6695000,46.2,903,982,Burundi/uburundi,Republic,Pierre Buyoya,552,BI\r\nBEL,Belgium,Europe,Western Europe,30518,1830,10239000,77.8,249704,243948,Belgie/Belgique,"Constitutional Monarchy, Federation",Albert II,179,BE\r\nBEN,Benin,Africa,Western Africa,112622,1960,6097000,50.2,2357,2141,Benin,Republic,Mathieu Kerekou,187,BJ\r\nBFA,Burkina Faso,Africa,Western Africa,274000,1960,11937000,46.7,2425,2201,Burkina Faso,Republic,Blaise Compaore,549,BF\r\nBGD,Bangladesh,Asia,Southern and Central Asia,143998,1971,129155000,60.2,32852,31966,Bangladesh,Republic,Shahabuddin Ahmad,150,BD\r\nBGR,Bulgaria,Europe,Eastern Europe,110994,1908,8190900,70.9,12178,10169,Balgarija,Republic,Petar Stojanov,539,BG\r\nBHR,Bahrain,Asia,Middle East,694,1971,617000,73,6366,6097,Al-Bahrayn,Monarchy (Emirate),Hamad ibn Isa al-Khalifa,149,BH\r\nBHS,Bahamas,North America,Caribbean,13878,1973,307000,71.1,3527,3347,The Bahamas,Constitutional Monarchy,Elisabeth II,148,BS\r\nBIH,Bosnia and Herzegovina,Europe,Southern Europe,51197,1992,3972000,71.5,2841,,Bosna i Hercegovina,Federal Republic,Ante Jelavic,201,BA\r\nBLR,Belarus,Europe,Eastern Europe,207600,1991,10236000,68,13714,,Belarus,Republic,Aljaksandr LukaSenka,3520,BY\r\nBLZ,Belize,North America,Central America,22696,1981,241000,70.9,630,616,Belize,Constitutional Monarchy,Elisabeth II,185,BZ\r\nBMu,Bermuda,North America,North America,53,,65000,76.9,2328,2190,Bermuda,Dependent Territory of the uK,Elisabeth II,191,BM\r\nBOL,Bolivia,South America,South America,1098581,1825,8329000,63.7,8571,7967,Bolivia,Republic,Hugo Banzer Suarez,194,BO\r\nBRA,Brazil,South America,South America,8547403,1822,170115000,62.9,776739,804108,Brasil,Federal Republic,Fernando Henrique Cardoso,211,BR\r\nBRB,Barbados,North America,Caribbean,430,1966,270000,73,2223,2186,Barbados,Constitutional Monarchy,Elisabeth II,174,BB\r\nBRN,Brunei,Asia,Southeast Asia,5765,1984,328000,73.6,11705,12460,Brunei Darussalam,Monarchy (Sultanate),Haji Hassan al-Bolkiah,538,BN\r\nBTN,Bhutan,Asia,Southern and Central Asia,47000,1910,2124000,52.4,372,383,Druk-Yul,Monarchy,Jigme Singye Wangchuk,192,BT\r\nBVT,Bouvet Island,Antarctica,Antarctica,59,,0,,0,,Bouvetoya,Dependent Territory of Norway,Harald V,,BV\r\nBWA,Botswana,Africa,Southern Africa,581730,1966,1622000,39.3,4834,4935,Botswana,Republic,Festus G. Mogae,204,BW\r\nCAF,Central African Republic,Africa,Central Africa,622984,1960,3615000,44,1054,993,Centrafrique/Be-Afrika,Republic,Ange-Felix Patasse,1889,CF\r\nCAN,Canada,North America,North America,9970610,1867,31147000,79.4,598862,625626,Canada,"Constitutional Monarchy, Federation",Elisabeth II,1822,CA\r\nCCK,Cocos (Keeling) Islands,Oceania,Australia and New Zealand,14,,600,,0,,Cocos (Keeling) Islands,Territory of Australia,Elisabeth II,2317,CC\r\nCHE,Switzerland,Europe,Western Europe,41284,1499,7160400,79.6,264478,256092,Schweiz/Suisse/Svizzera/Svizra,Federation,Adolf Ogi,3248,CH\r\nCHL,Chile,South America,South America,756626,1810,15211000,75.7,72949,75780,Chile,Republic,Ricardo Lagos Escobar,554,CL\r\nCHN,China,Asia,Eastern Asia,9572900,-1523,1277558000,71.4,982268,917719,Zhongquo,People\'sRepublic,Jiang Zemin,1891,CN\r\nCIV,Cote dIvoire,Africa,Western Africa,322463,1960,14786000,45.2,11345,10285,Cote dIvoire,Republic,Laurent Gbagbo,2814,CI\r\nCMR,Cameroon,Africa,Central Africa,475442,1960,15085000,54.8,9174,8596,Cameroun/Cameroon,Republic,Paul Biya,1804,CM\r\nCOD,"Congo, The Democratic Republic of the",Africa,Central Africa,2344858,1960,51654000,48.8,6964,2474,Republique Democratique du Congo,Republic,Joseph Kabila,2298,CD\r\nCOG,Congo,Africa,Central Africa,342000,1960,2943000,47.4,2108,2287,Congo,Republic,Denis Sassou-Nguesso,2296,CG\r\nCOK,Cook Islands,Oceania,Polynesia,236,,20000,71.1,100,,The Cook Islands,Nonmetropolitan Territory of New Zealand,Elisabeth II,583,CK\r\nCOL,Colombia,South America,South America,1138914,1810,42321000,70.3,102896,105116,Colombia,Republic,Andres Pastrana Arango,2257,CO\r\nCOM,Comoros,Africa,Eastern Africa,1862,1975,578000,60,4401,4361,Komori/Comores,Republic,Azali Assoumani,2295,KM\r\nCPV,Cape Verde,Africa,Western Africa,4033,1975,428000,68.9,435,420,Cabo Verde,Republic,Antonio Mascarenhas Monteiro,1859,CV\r\nCRI,Costa Rica,North America,Central America,51100,1821,4023000,75.8,10226,9757,Costa Rica,Republic,Miguel angel RodrIguez EcheverrIa,584,CR\r\nCuB,Cuba,North America,Caribbean,110861,1902,11201000,76.2,17843,18862,Cuba,Socialistic Republic,Fidel Castro Ruz,2413,Cu\r\nCXR,Christmas Island,Oceania,Australia and New Zealand,135,,2500,,0,,Christmas Island,Territory of Australia,Elisabeth II,1791,CX\r\nCYM,Cayman Islands,North America,Caribbean,264,,38000,78.9,1263,1186,Cayman Islands,Dependent Territory of the uK,Elisabeth II,553,KY\r\nCYP,Cyprus,Asia,Middle East,9251,1960,754700,76.7,9333,8246,Kypros/Kibris,Republic,Glafkos Klerides,2430,CY\r\nCZE,Czech Republic,Europe,Eastern Europe,78866,1993,10278100,74.5,55017,52037,esko,Republic,Vaclav Havel,3339,CZ\r\nDEu,Germany,Europe,Western Europe,357022,1955,82164700,77.4,2133367,2102826,Deutschland,Federal Republic,Johannes Rau,3068,DE\r\nDJI,Djibouti,Africa,Eastern Africa,23200,1977,638000,50.8,382,373,Djibouti/Jibuti,Republic,Ismail Omar Guelleh,585,DJ\r\nDMA,Dominica,North America,Caribbean,751,1978,71000,73.4,256,243,Dominica,Republic,Vernon Shaw,586,DM\r\nDNK,Denmark,Europe,Nordic Countries,43094,800,5330000,76.5,174099,169264,Danmark,Constitutional Monarchy,Margrethe II,3315,DK\r\nDOM,Dominican Republic,North America,Caribbean,48511,1844,8495000,73.2,15846,15076,Republica Dominicana,Republic,Hipolito MejIa DomInguez,587,DO\r\nDZA,Algeria,Africa,Northern Africa,2381741,1962,31471000,69.7,49982,46966,Al-Jazair/Algerie,Republic,Abdelaziz Bouteflika,35,DZ\r\nECu,Ecuador,South America,South America,283561,1822,12646000,71.1,19770,19769,Ecuador,Republic,Gustavo Noboa Bejarano,594,EC\r\nEGY,Egypt,Africa,Northern Africa,1001449,1922,68470000,63.3,82710,75617,Misr,Republic,Hosni Mubarak,608,EG\r\nERI,Eritrea,Africa,Eastern Africa,117600,1993,3850000,55.8,650,755,Ertra,Republic,Isayas Afewerki [Isaias Afwerki],652,ER\r\nESH,Western Sahara,Africa,Northern Africa,266000,,293000,49.8,60,,As-Sahrawiya,Occupied by Marocco,Mohammed Abdel Aziz,2453,EH\r\nESP,Spain,Europe,Southern Europe,505992,1492,39441700,78.8,553233,532031,Espana,Constitutional Monarchy,Juan Carlos I,653,ES\r\nEST,Estonia,Europe,Baltic Countries,45227,1991,1439200,69.5,5328,3371,Eesti,Republic,Lennart Meri,3791,EE\r\nETH,Ethiopia,Africa,Eastern Africa,1104300,-1000,62565000,45.2,6353,6180,YeItyop iya,Republic,Negasso Gidada,756,ET\r\nFIN,Finland,Europe,Nordic Countries,338145,1917,5171300,77.4,121914,119833,Suomi,Republic,Tarja Halonen,3236,FI\r\nFJI,Fiji Islands,Oceania,Melanesia,18274,1970,817000,67.9,1536,2149,Fiji Islands,Republic,Josefa Iloilo,764,FJ\r\nFLK,Falkland Islands,South America,South America,12173,,2000,,0,,Falkland Islands,Dependent Territory of the uK,Elisabeth II,763,FK\r\nFRA,France,Europe,Western Europe,551500,843,59225700,78.8,1424285,1392448,France,Republic,Jacques Chirac,2974,FR\r\nFRO,Faroe Islands,Europe,Nordic Countries,1399,,43000,78.4,0,,Foroyar,Part of Denmark,Margrethe II,901,FO\r\nFSM,"Micronesia, Federated States of",Oceania,Micronesia,702,1990,119000,68.6,212,,Micronesia,Federal Republic,Leo A. Falcam,2689,FM\r\nGAB,Gabon,Africa,Central Africa,267668,1960,1226000,50.1,5493,5279,Le Gabon,Republic,Omar Bongo,902,GA\r\nGBR,united Kingdom,Europe,British Islands,242900,1066,59623400,77.7,1378330,1296830,united Kingdom,Constitutional Monarchy,Elisabeth II,456,GB\r\nGEO,Georgia,Asia,Middle East,69700,1991,4968000,64.5,6064,5924,Sakartvelo,Republic,Eduard Sevardnadze,905,GE\r\nGHA,Ghana,Africa,Western Africa,238533,1957,20212000,57.4,7137,6884,Ghana,Republic,John Kufuor,910,GH\r\nGIB,Gibraltar,Europe,Southern Europe,6,,25000,79,258,,Gibraltar,Dependent Territory of the uK,Elisabeth II,915,GI\r\nGIN,Guinea,Africa,Western Africa,245857,1958,7430000,45.6,2352,2383,Guinee,Republic,Lansana Conte,926,GN\r\nGLP,Guadeloupe,North America,Caribbean,1705,,456000,77,3501,,Guadeloupe,Overseas Department of France,Jacques Chirac,919,GP\r\nGMB,Gambia,Africa,Western Africa,11295,1965,1305000,53.2,320,325,The Gambia,Republic,Yahya Jammeh,904,GM\r\nGNB,Guinea-Bissau,Africa,Western Africa,36125,1974,1213000,49,293,272,Guine-Bissau,Republic,Kumba Iala,927,GW\r\nGNQ,Equatorial Guinea,Africa,Central Africa,28051,1968,453000,53.6,283,542,Guinea Ecuatorial,Republic,Teodoro Obiang Nguema Mbasogo,2972,GQ\r\nGRC,Greece,Europe,Southern Europe,131626,1830,10545700,78.4,120724,119946,Ellada,Republic,Kostis Stefanopoulos,2401,GR\r\nGRD,Grenada,North America,Caribbean,344,1974,94000,64.5,318,,Grenada,Constitutional Monarchy,Elisabeth II,916,GD\r\nGRL,Greenland,North America,North America,2166090,,56000,68.1,0,,Kalaallit Nunaat/Gronland,Part of Denmark,Margrethe II,917,GL\r\nGTM,Guatemala,North America,Central America,108889,1821,11385000,66.2,19008,17797,Guatemala,Republic,Alfonso Portillo Cabrera,922,GT\r\nGuF,French Guiana,South America,South America,90000,,181000,76.1,681,,Guyane francaise,Overseas Department of France,Jacques Chirac,3014,GF\r\nGuM,Guam,Oceania,Micronesia,549,,168000,77.8,1197,1136,Guam,uS Territory,George W. Bush,921,Gu\r\nGuY,Guyana,South America,South America,214969,1966,861000,64,722,743,Guyana,Republic,Bharrat Jagdeo,928,GY\r\nHKG,Hong Kong,Asia,Eastern Asia,1075,,6782000,79.5,166448,173610,Xianggang/Hong Kong,Special Administrative Region of China,Jiang Zemin,937,HK\r\nHMD,Heard Island and McDonald Islands,Antarctica,Antarctica,359,,0,,0,,Heard and McDonald Islands,Territory of Australia,Elisabeth II,,HM\r\nHND,Honduras,North America,Central America,112088,1838,6485000,69.9,5333,4697,Honduras,Republic,Carlos Roberto Flores Facusse,933,HN\r\nHRV,Croatia,Europe,Southern Europe,56538,1991,4473000,73.7,20208,19300,Hrvatska,Republic,Stipe Mesic,2409,HR\r\nHTI,Haiti,North America,Caribbean,27750,1804,8222000,49.2,3459,3107,Haiti/Dayti,Republic,Jean-Bertrand Aristide,929,HT\r\nHuN,Hungary,Europe,Eastern Europe,93030,1918,10043200,71.4,48267,45914,Magyarorszag,Republic,Ferenc Madl,3483,Hu\r\nIDN,Indonesia,Asia,Southeast Asia,1904569,1945,212107000,68,84982,215002,Indonesia,Republic,Abdurrahman Wahid,939,ID\r\nIND,India,Asia,Southern and Central Asia,3287263,1947,1013662000,62.5,447114,430572,Bharat/India,Federal Republic,Kocheril Raman Narayanan,1109,IN\r\nIOT,British Indian Ocean Territory,Africa,Eastern Africa,78,,0,,0,,British Indian Ocean Territory,Dependent Territory of the uK,Elisabeth II,,IO\r\nIRL,Ireland,Europe,British Islands,70273,1921,3775100,76.8,75921,73132,Ireland/eire,Republic,Mary McAleese,1447,IE\r\nIRN,Iran,Asia,Southern and Central Asia,1648195,1906,67702000,69.7,195746,160151,Iran,Islamic Republic,Ali Mohammad Khatami-Ardakani,1380,IR\r\nIRQ,Iraq,Asia,Middle East,438317,1932,23115000,66.5,11500,,Al- Iraq,Republic,Saddam Hussein al-Takriti,1365,IQ\r\nISL,Iceland,Europe,Nordic Countries,103000,1944,279000,79.4,8255,7474,Island,Republic,olafur Ragnar GrImsson,1449,IS\r\nISR,Israel,Asia,Middle East,21056,1948,6217000,78.6,97477,98577,Yisrael/Israil,Republic,Moshe Katzav,1450,IL\r\nITA,Italy,Europe,Southern Europe,301316,1861,57680000,79,1161755,1145372,Italia,Republic,Carlo Azeglio Ciampi,1464,IT\r\nJAM,Jamaica,North America,Caribbean,10990,1962,2583000,75.2,6871,6722,Jamaica,Constitutional Monarchy,Elisabeth II,1530,JM\r\nJOR,Jordan,Asia,Middle East,88946,1946,5083000,77.4,7526,7051,Al-urdunn,Constitutional Monarchy,Abdullah II,1786,JO\r\nJPN,Japan,Asia,Eastern Asia,377829,-660,126714000,80.7,3787042,4192638,Nihon/Nippon,Constitutional Monarchy,Akihito,1532,JP\r\nKAZ,Kazakstan,Asia,Southern and Central Asia,2724900,1991,16223000,63.2,24375,23383,Qazaqstan,Republic,Nursultan Nazarbajev,1864,KZ\r\nKEN,Kenya,Africa,Eastern Africa,580367,1963,30080000,48,9217,10241,Kenya,Republic,Daniel arap Moi,1881,KE\r\nKGZ,Kyrgyzstan,Asia,Southern and Central Asia,199900,1991,4699000,63.4,1626,1767,Kyrgyzstan,Republic,Askar Akajev,2253,KG\r\nKHM,Cambodia,Asia,Southeast Asia,181035,1953,11168000,56.5,5121,5670,Kampuchea,Constitutional Monarchy,Norodom Sihanouk,1800,KH\r\nKIR,Kiribati,Oceania,Micronesia,726,1979,83000,59.8,40.7,,Kiribati,Republic,Teburoro Tito,2256,KI\r\nKNA,Saint Kitts and Nevis,North America,Caribbean,261,1983,38000,70.7,299,,Saint Kitts and Nevis,Constitutional Monarchy,Elisabeth II,3064,KN\r\nKOR,South Korea,Asia,Eastern Asia,99434,1948,46844000,74.4,320749,442544,Taehan Minguk (Namhan),Republic,Kim Dae-jung,2331,KR\r\nKWT,Kuwait,Asia,Middle East,17818,1961,1972000,76.1,27037,30373,Al-Kuwayt,Constitutional Monarchy (Emirate),Jabir al-Ahmad al-Jabir al-Sabah,2429,KW\r\nLAO,Laos,Asia,Southeast Asia,236800,1953,5433000,53.1,1292,1746,Lao,Republic,Khamtay Siphandone,2432,LA\r\nLBN,Lebanon,Asia,Middle East,10400,1941,3282000,71.3,17121,15129,Lubnan,Republic,emile Lahoud,2438,LB\r\nLBR,Liberia,Africa,Western Africa,111369,1847,3154000,51,2012,,Liberia,Republic,Charles Taylor,2440,LR\r\nLBY,Libyan Arab Jamahiriya,Africa,Northern Africa,1759540,1951,5605000,75.5,44806,40562,Libiya,Socialistic State,Muammar al-Qadhafi,2441,LY\r\nLCA,Saint Lucia,North America,Caribbean,622,1979,154000,72.3,571,,Saint Lucia,Constitutional Monarchy,Elisabeth II,3065,LC\r\nLIE,Liechtenstein,Europe,Western Europe,160,1806,32300,78.8,1119,1084,Liechtenstein,Constitutional Monarchy,Hans-Adam II,2446,LI\r\nLKA,Sri Lanka,Asia,Southern and Central Asia,65610,1948,18827000,71.8,15706,15091,Sri Lanka/Ilankai,Republic,Chandrika Kumaratunga,3217,LK\r\nLSO,Lesotho,Africa,Southern Africa,30355,1966,2153000,50.8,1061,1161,Lesotho,Constitutional Monarchy,Letsie III,2437,LS\r\nLTu,Lithuania,Europe,Baltic Countries,65301,1991,3698500,69.1,10692,9585,Lietuva,Republic,Valdas Adamkus,2447,LT\r\nLuX,Luxembourg,Europe,Western Europe,2586,1867,435700,77.1,16321,15519,Luxembourg/Letzebuerg,Constitutional Monarchy,Henri,2452,Lu\r\nLVA,Latvia,Europe,Baltic Countries,64589,1991,2424200,68.4,6398,5639,Latvija,Republic,Vaira Vike-Freiberga,2434,LV\r\nMAC,Macao,Asia,Eastern Asia,18,,473000,81.6,5749,5940,Macau/Aomen,Special Administrative Region of China,Jiang Zemin,2454,MO\r\nMAR,Morocco,Africa,Northern Africa,446550,1956,28351000,69.1,36124,33514,Al-Maghrib,Constitutional Monarchy,Mohammed VI,2486,MA\r\nMCO,Monaco,Europe,Western Europe,1.5,1861,34000,78.8,776,,Monaco,Constitutional Monarchy,Rainier III,2695,MC\r\nMDA,Moldova,Europe,Eastern Europe,33851,1991,4380000,64.5,1579,1872,Moldova,Republic,Vladimir Voronin,2690,MD\r\nMDG,Madagascar,Africa,Eastern Africa,587041,1960,15942000,55,3750,3545,Madagasikara/Madagascar,Federal Republic,Didier Ratsiraka,2455,MG\r\nMDV,Maldives,Asia,Southern and Central Asia,298,1965,286000,62.2,199,,Dhivehi Raajje/Maldives,Republic,Maumoon Abdul Gayoom,2463,MV\r\nMEX,Mexico,North America,Central America,1958201,1810,98881000,71.5,414972,401461,Mexico,Federal Republic,Vicente Fox Quesada,2515,MX\r\nMHL,Marshall Islands,Oceania,Micronesia,181,1990,64000,65.5,97,,Marshall Islands/Majol,Republic,Kessai Note,2507,MH\r\nMKD,Macedonia,Europe,Southern Europe,25713,1991,2024000,73.8,1694,1915,Makedonija,Republic,Boris Trajkovski,2460,MK\r\nMLI,Mali,Africa,Western Africa,1240192,1960,11234000,46.7,2642,2453,Mali,Republic,Alpha Oumar Konare,2482,ML\r\nMLT,Malta,Europe,Southern Europe,316,1964,380200,77.9,3512,3338,Malta,Republic,Guido de Marco,2484,MT\r\nMMR,Myanmar,Asia,Southeast Asia,676578,1948,45611000,54.9,180375,171028,Myanma Pye,Republic,kenraali Than Shwe,2710,MM\r\nMNG,Mongolia,Asia,Eastern Asia,1566500,1921,2662000,67.3,1043,933,Mongol uls,Republic,Natsagiin Bagabandi,2696,MN\r\nMNP,Northern Mariana Islands,Oceania,Micronesia,464,,78000,75.5,0,,Northern Mariana Islands,Commonwealth of the uS,George W. Bush,2913,MP\r\nMOZ,Mozambique,Africa,Eastern Africa,801590,1975,19680000,37.5,2891,2711,Mocambique,Republic,JoaquIm A. Chissano,2698,MZ\r\nMRT,Mauritania,Africa,Western Africa,1025520,1960,2670000,50.8,998,1081,Muritaniya/Mauritanie,Republic,Maaouiya Ould Sid Ahmad Taya,2509,MR\r\nMSR,Montserrat,North America,Caribbean,102,,11000,78,109,,Montserrat,Dependent Territory of the uK,Elisabeth II,2697,MS\r\nMTQ,Martinique,North America,Caribbean,1102,,395000,78.3,2731,2559,Martinique,Overseas Department of France,Jacques Chirac,2508,MQ\r\nMuS,Mauritius,Africa,Eastern Africa,2040,1968,1158000,71,4251,4186,Mauritius,Republic,Cassam uteem,2511,Mu\r\nMWI,Malawi,Africa,Eastern Africa,118484,1964,10925000,37.6,1687,2527,Malawi,Republic,Bakili Muluzi,2462,MW\r\nMYS,Malaysia,Asia,Southeast Asia,329758,1957,22244000,70.8,69213,97884,Malaysia,"Constitutional Monarchy, Federation",Salahuddin Abdul Aziz Shah Alhaj,2464,MY\r\nMYT,Mayotte,Africa,Eastern Africa,373,,149000,59.5,0,,Mayotte,Territorial Collectivity of France,Jacques Chirac,2514,YT\r\nNAM,Namibia,Africa,Southern Africa,824292,1990,1726000,42.5,3101,3384,Namibia,Republic,Sam Nujoma,2726,NA\r\nNCL,New Caledonia,Oceania,Melanesia,18575,,214000,72.8,3563,,Nouvelle-Caledonie,Nonmetropolitan Territory of France,Jacques Chirac,3493,NC\r\nNER,Niger,Africa,Western Africa,1267000,1960,10730000,41.3,1706,1580,Niger,Republic,Mamadou Tandja,2738,NE\r\nNFK,Norfolk Island,Oceania,Australia and New Zealand,36,,2000,,0,,Norfolk Island,Territory of Australia,Elisabeth II,2806,NF\r\nNGA,Nigeria,Africa,Western Africa,923768,1960,111506000,51.6,65707,58623,Nigeria,Federal Republic,Olusegun Obasanjo,2754,NG\r\nNIC,Nicaragua,North America,Central America,130000,1838,5074000,68.7,1988,2023,Nicaragua,Republic,Arnoldo Aleman Lacayo,2734,NI\r\nNIu,Niue,Oceania,Polynesia,260,,2000,,0,,Niue,Nonmetropolitan Territo

In [18]:
#convertir en dataframe
df=pd.read_csv('CountryTable.csv')
df

,code,name,continent,region,surface_area,independence_year,population,life_expectancy,gnp,gnp_old,local_name,government_form,head_of_state,capital,code2
0,ABW,Aruba,North America,Caribbean,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Willem-Alexander,129.0,AW
1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
2,AGO,Angola,Africa,Central Africa,1246700.0,1975.0,12878000,38.3,6648.0,7984.0,Angola,Republic,Jose Eduardo dos Santos,56.0,AO
3,AIA,Anguilla,North America,Caribbean,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the uK,Elisabeth II,62.0,AI
4,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,Shqiperia,Republic,Rexhep Mejdani,34.0,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,YEM,Yemen,Asia,Middle East,527968.0,1918.0,18112000,59.8,6041.0,5729.0,Al-Yaman,Republic,Ali Abdallah Salih,1780.0,YE
235,YuG,Yugoslavia,Europe,Southern Europe,102173.0,1918.0,10640000,72.4,17000.0,NaN,Jugoslavija,Federal Republic,Vojislav KoStunica,1792.0,Yu
236,ZAF,South Africa,Africa,Southern Africa,1221037.0,1910.0,40377000,51.1,116729.0,129092.0,South Africa,Republic,Thabo Mbeki,716.0,ZA
237,ZMB,Zambia,Africa,Eastern Africa,752618.0,1964.0,9169000,37.2,3377.0,3922.0,Zambia,Republic,Frederick Chiluba,3162.0,ZM
238,ZWE,Zimbabwe,Africa,Eastern Africa,390757.0,1980.0,11669000,37.8,5951.0,8670.0,Zimbabwe,Republic,Robert G. Mugabe,4068.0,ZW

Este filtro sirve para encontrar los datos que hay de dicho pas, la busqueda se hace por el nombre y salen su datos.

In [78]:
#filtro por objeto.
filtro1=df[df["continent"] == "Oceania"]
filtro1

,code,continent,region,surface_area,independence_year,population,life_expectancy,gnp,gnp_old,local_name,government_form,head_of_state,capital,code2
name,,,,,,,,,,,,,,
American Samoa,ASM,Oceania,Polynesia,199.0,NaN,68000,75.1,334.0,NaN,Amerika Samoa,uS Territory,George W. Bush,54.0,AS
Australia,AuS,Oceania,Australia and New Zealand,7741220.0,1901.0,18886000,79.8,351182.0,392911.0,Australia,"Constitutional Monarchy, Federation",Elisabeth II,135.0,Au
Cocos (Keeling) Islands,CCK,Oceania,Australia and New Zealand,14.0,NaN,600,NaN,0.0,NaN,Cocos (Keeling) Islands,Territory of Australia,Elisabeth II,2317.0,CC
Cook Islands,COK,Oceania,Polynesia,236.0,NaN,20000,71.1,100.0,NaN,The Cook Islands,Nonmetropolitan Territory of New Zealand,Elisabeth II,583.0,CK
Christmas Island,CXR,Oceania,Australia and New Zealand,135.0,NaN,2500,NaN,0.0,NaN,Christmas Island,Territory of Australia,Elisabeth II,1791.0,CX
Fiji Islands,FJI,Oceania,Melanesia,18274.0,1970.0,817000,67.9,1536.0,2149.0,Fiji Islands,Republic,Josefa Iloilo,764.0,FJ
"Micronesia, Federated States of",FSM,Oceania,Micronesia,702.0,1990.0,119000,68.6,212.0,NaN,Micronesia,Federal Republic,Leo A. Falcam,2689.0,FM
Guam,GuM,Oceania,Micronesia,549.0,NaN,168000,77.8,1197.0,1136.0,Guam,uS Territory,George W. Bush,921.0,Gu
Kiribati,KIR,Oceania,Micronesia,726.0,1979.0,83000,59.8,40.7,NaN,Kiribati,Republic,Teburoro Tito,2256.0,KI
Marshall Islands,MHL,Oceania,Micronesia,181.0,1990.0,64000,65.5,97.0,NaN,Marshall Islands/Majol,Republic,Kessai Note,2507.0,MH
Northern Mariana Islands,MNP,Oceania,Micronesia,464.0,NaN,78000,75.5,0.0,NaN,Northern Mariana Islands,Commonwealth of the uS,George W. Bush,2913.0,MP
New Caledonia,NCL,Oceania,Melanesia,18575.0,NaN,214000,72.8,3563.0,NaN,Nouvelle-Caledonie,Nonmetropolitan Territory of France,Jacques Chirac,3493.0,NC
Norfolk Island,NFK,Oceania,Australia and New Zealand,36.0,NaN,2000,NaN,0.0,NaN,Norfolk Island,Territory of Australia,Elisabeth II,2806.0,NF
Niue,NIu,Oceania,Polynesia,260.0,NaN,2000,NaN,0.0,NaN,Niue,Nonmetropolitan Territory of New Zealand,Elisabeth II,2805.0,Nu
Nauru,NRu,Oceania,Micronesia,21.0,1968.0,12000,60.8,197.0,NaN,Naoero/Nauru,Republic,Bernard Dowiyogo,2728.0,NR
New Zealand,NZL,Oceania,Australia and New Zealand,270534.0,1907.0,3862000,77.8,54669.0,64960.0,New Zealand/Aotearoa,Constitutional Monarchy,Elisabeth II,3499.0,NZ
Pitcairn,PCN,Oceania,Polynesia,49.0,NaN,50,NaN,0.0,NaN,Pitcairn,Dependent Territory of the uK,Elisabeth II,2912.0,PN
Palau,PLW,Oceania,Micronesia,459.0,1994.0,19000,68.6,105.0,NaN,Belau/Palau,Republic,Kuniwo Nakamura,2881.0,PW
Papua New Guinea,PNG,Oceania,Melanesia,462840.0,1975.0,4807000,63.1,4988.0,6328.0,Papua New Guinea/Papua Niugini,Constitutional Monarchy,Elisabeth II,2884.0,PG
French Polynesia,PYF,Oceania,Polynesia,4000.0,NaN,235000,74.8,818.0,781.0,Polynesie francaise,Nonmetropolitan Territory of France,Jacques Chirac,3016.0,PF
Solomon Islands,SLB,Oceania,Melanesia,28896.0,1978.0,444000,71.3,182.0,220.0,Solomon Islands,Constitutional Monarchy,Elisabeth II,3161.0,SB
Tokelau,TKL,Oceania,Polynesia,12.0,NaN,2000,NaN,0.0,NaN,Tokelau,Nonmetropolitan Territory of New Zealand,Elisabeth II,3333.0,TK
Tonga,TON,Oceania,Polynesia,650.0,1970.0,99000,67.9,146.0,170.0,Tonga,Monarchy,Taufa'ahau Tupou IV,3334.0,TO
Tuvalu,TuV,Oceania,Polynesia,26.0,1978.0,12000,66.3,6.0,NaN,Tuvalu,Constitutional Monarchy,Elisabeth II,3424.0,TV
united States Minor Outlying Islands,uMI,Oceania,Micronesia/Caribbean,16.0,NaN,0,NaN,0.0,NaN,united States Minor Outlying Islands,Dependent Territory of the uS,George W. Bush,NaN,uM
Vanuatu,VuT,Oceania,Melanesia,12189.0,1980.0,190000,60.6,261.0,246.0,Vanuatu,Republic,John Bani,3537.0,Vu
Wallis and Futuna,WLF,Oceania,Polynesia,200.0,NaN,15000,NaN,0.0,NaN,Wallis-et-Futuna,Nonmetropolitan Territory of France,Jacques Chirac,3536.0,WF
Samoa,WSM,Oceania,Polynesia,2831.0,1962.0,180000,69.2,141.0,157.0,Samoa,Parlementary Monarchy,Malietoa Tanumafili II,3169.0,WS

In [74]:
#filtro por objeto
filtro1b=df[df["continent"] == "South America"]
filtro1b

,code,continent,region,surface_area,independence_year,population,life_expectancy,gnp,gnp_old,local_name,government_form,head_of_state,capital,code2
name,,,,,,,,,,,,,,
Argentina,ARG,South America,South America,2780400.0,1816.0,37032000,75.1,340238.0,323310.0,Argentina,Federal Republic,Fernando de la Rua,69.0,AR
Bolivia,BOL,South America,South America,1098581.0,1825.0,8329000,63.7,8571.0,7967.0,Bolivia,Republic,Hugo Banzer Suarez,194.0,BO
Brazil,BRA,South America,South America,8547403.0,1822.0,170115000,62.9,776739.0,804108.0,Brasil,Federal Republic,Fernando Henrique Cardoso,211.0,BR
Chile,CHL,South America,South America,756626.0,1810.0,15211000,75.7,72949.0,75780.0,Chile,Republic,Ricardo Lagos Escobar,554.0,CL
Colombia,COL,South America,South America,1138914.0,1810.0,42321000,70.3,102896.0,105116.0,Colombia,Republic,Andres Pastrana Arango,2257.0,CO
Ecuador,ECu,South America,South America,283561.0,1822.0,12646000,71.1,19770.0,19769.0,Ecuador,Republic,Gustavo Noboa Bejarano,594.0,EC
Falkland Islands,FLK,South America,South America,12173.0,NaN,2000,NaN,0.0,NaN,Falkland Islands,Dependent Territory of the uK,Elisabeth II,763.0,FK
French Guiana,GuF,South America,South America,90000.0,NaN,181000,76.1,681.0,NaN,Guyane francaise,Overseas Department of France,Jacques Chirac,3014.0,GF
Guyana,GuY,South America,South America,214969.0,1966.0,861000,64.0,722.0,743.0,Guyana,Republic,Bharrat Jagdeo,928.0,GY
Peru,PER,South America,South America,1285216.0,1821.0,25662000,70.0,64140.0,65186.0,Peru/Piruw,Republic,Valentin Paniagua Corazao,2890.0,PE
Paraguay,PRY,South America,South America,406752.0,1811.0,5496000,73.7,8444.0,9555.0,Paraguay,Republic,Luis angel Gonzalez Macchi,2885.0,PY
Suriname,SuR,South America,South America,163265.0,1975.0,417000,71.4,870.0,706.0,Suriname,Republic,Ronald Venetiaan,3243.0,SR
uruguay,uRY,South America,South America,175016.0,1828.0,3337000,75.2,20831.0,19967.0,uruguay,Republic,Jorge Batlle Ibanez,3492.0,uY
Venezuela,VEN,South America,South America,912050.0,1811.0,24170000,73.1,95023.0,88434.0,Venezuela,Federal Republic,Hugo Chavez FrIas,3539.0,VE

En este filtro aparecen los datos de las filas **no consecutivas**, en este caso la fila 10,15 y 60

In [21]:
#filtro 
#filtro2= df.iloc[300:302,: ]
filtro2=df.iloc[ [10,15,60],:]#filas no consecutivas
filtro2

,code,name,continent,region,surface_area,independence_year,population,life_expectancy,gnp,gnp_old,local_name,government_form,head_of_state,capital,code2
10,ASM,American Samoa,Oceania,Polynesia,199.0,NaN,68000,75.1,334.0,NaN,Amerika Samoa,uS Territory,George W. Bush,54.0,AS
15,AuT,Austria,Europe,Western Europe,83859.0,1918.0,8091800,77.7,211860.0,206025.0,osterreich,Federal Republic,Thomas Klestil,1523.0,AT
60,DOM,Dominican Republic,North America,Caribbean,48511.0,1844.0,8495000,73.2,15846.0,15076.0,Republica Dominicana,Republic,Hipolito MejIa DomInguez,587.0,DO

En este filtro aparecen los datos de las filas **consecutivas**, en este caso de la fila 1-10

In [22]:
#filas consecutivas
filtro2b=df.iloc[ 1:11, : ]
filtro2b

,code,name,continent,region,surface_area,independence_year,population,life_expectancy,gnp,gnp_old,local_name,government_form,head_of_state,capital,code2
1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
2,AGO,Angola,Africa,Central Africa,1246700.0,1975.0,12878000,38.3,6648.0,7984.0,Angola,Republic,Jose Eduardo dos Santos,56.0,AO
3,AIA,Anguilla,North America,Caribbean,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the uK,Elisabeth II,62.0,AI
4,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,Shqiperia,Republic,Rexhep Mejdani,34.0,AL
5,AND,Andorra,Europe,Southern Europe,468.0,1278.0,78000,83.5,1630.0,NaN,Andorra,Parliamentary Coprincipality,NaN,55.0,AD
6,ANT,Netherlands Antilles,North America,Caribbean,800.0,NaN,217000,74.7,1941.0,NaN,Nederlandse Antillen,Nonmetropolitan Territory of The Netherlands,Willem-Alexander,33.0,AN
7,ARE,united Arab Emirates,Asia,Middle East,83600.0,1971.0,2441000,74.1,37966.0,36846.0,Al-Imarat al- Arabiya al-Muttahida,Emirate Federation,Zayid bin Sultan al-Nahayan,65.0,AE
8,ARG,Argentina,South America,South America,2780400.0,1816.0,37032000,75.1,340238.0,323310.0,Argentina,Federal Republic,Fernando de la Rua,69.0,AR
9,ARM,Armenia,Asia,Middle East,29800.0,1991.0,3520000,66.4,1813.0,1627.0,Hajastan,Republic,Robert KotSarjan,126.0,AM
10,ASM,American Samoa,Oceania,Polynesia,199.0,NaN,68000,75.1,334.0,NaN,Amerika Samoa,uS Territory,George W. Bush,54.0,AS

**En esta parte realizamos un filtro de columnas y filas. Ojo, las coolumnas no son consecutivas, se hizo esta prueba con diferentes filas y columnas.**

In [23]:
#Filtro por columnas y por filas
filtro_mix=df.iloc[[33,66,99], 1:4]
filtro_mix

      name continent                     region
33  Bhutan      Asia  Southern and Central Asia
66   Spain    Europe            Southern Europe
99   India      Asia  Southern and Central Asia

In [27]:
#Filtro por columnas y por filas
filtro_mix=df.iloc[[12,24,36], 1:10]
filtro_mix

,name,continent,region,surface_area,independence_year,population,life_expectancy,gnp,gnp_old
12,French Southern territories,Antarctica,Antarctica,7780.0,NaN,0,NaN,0.0,NaN
24,Bahamas,North America,Caribbean,13878.0,1973.0,307000,71.1,3527.0,3347.0
36,Central African Republic,Africa,Central Africa,622984.0,1960.0,3615000,44.0,1054.0,993.0

**En esta parte hacemos un filtro de filas vs columnas, donde se hace dicha prueba 2 veces y se divide por partes**

In [28]:
#Filtros de filas vs columnas
#Paso 1: Leemos el contenido del archivo
from google.colab import files
uploaded= files.upload()
df=pd.read_csv(io.BytesIO(uploaded['CountryTable.csv']), index_col=1)

Saving CountryTable.csv to CountryTable (2).csv

In [29]:
#Paso 2: Aplicamos filtros de filas vs columas
filtro4=df.loc[['Cuba','France'],['independence_year']]
filtro4

        independence_year
name
Cuba               1902.0
France              843.0

In [31]:
#Paso 2: Aplicamos filtros de filas vs columas
filtro4b=df.loc[['Argentina','Madagascar'],['life_expectancy']]
filtro4b

            life_expectancy
name
Argentina              75.1
Madagascar             55.0

**En esta parte se realiz un filtro donde se imprimieron los primeros n datos que se presentan en la tabla**

In [32]:
#Filtro 5
#Filtro por cabecera
filtro5=df.head(3)
filtro5

,code,continent,region,surface_area,independence_year,population,life_expectancy,gnp,gnp_old,local_name,government_form,head_of_state,capital,code2
name,,,,,,,,,,,,,,
Aruba,ABW,North America,Caribbean,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Willem-Alexander,129.0,AW
Afghanistan,AFG,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
Angola,AGO,Africa,Central Africa,1246700.0,1975.0,12878000,38.3,6648.0,7984.0,Angola,Republic,Jose Eduardo dos Santos,56.0,AO

In [63]:
#Filtro 5
#Filtro por cabecera
filtro5b=df.head(12)
filtro5b

,code,continent,region,surface_area,independence_year,population,life_expectancy,gnp,gnp_old,local_name,government_form,head_of_state,capital,code2
name,,,,,,,,,,,,,,
Aruba,ABW,North America,Caribbean,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Willem-Alexander,129.0,AW
Afghanistan,AFG,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
Angola,AGO,Africa,Central Africa,1246700.0,1975.0,12878000,38.3,6648.0,7984.0,Angola,Republic,Jose Eduardo dos Santos,56.0,AO
Anguilla,AIA,North America,Caribbean,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the uK,Elisabeth II,62.0,AI
Albania,ALB,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,Shqiperia,Republic,Rexhep Mejdani,34.0,AL
Andorra,AND,Europe,Southern Europe,468.0,1278.0,78000,83.5,1630.0,NaN,Andorra,Parliamentary Coprincipality,NaN,55.0,AD
Netherlands Antilles,ANT,North America,Caribbean,800.0,NaN,217000,74.7,1941.0,NaN,Nederlandse Antillen,Nonmetropolitan Territory of The Netherlands,Willem-Alexander,33.0,AN
united Arab Emirates,ARE,Asia,Middle East,83600.0,1971.0,2441000,74.1,37966.0,36846.0,Al-Imarat al- Arabiya al-Muttahida,Emirate Federation,Zayid bin Sultan al-Nahayan,65.0,AE
Argentina,ARG,South America,South America,2780400.0,1816.0,37032000,75.1,340238.0,323310.0,Argentina,Federal Republic,Fernando de la Rua,69.0,AR
Armenia,ARM,Asia,Middle East,29800.0,1991.0,3520000,66.4,1813.0,1627.0,Hajastan,Republic,Robert KotSarjan,126.0,AM
American Samoa,ASM,Oceania,Polynesia,199.0,NaN,68000,75.1,334.0,NaN,Amerika Samoa,uS Territory,George W. Bush,54.0,AS
Antarctica,ATA,Antarctica,Antarctica,13120000.0,NaN,0,NaN,0.0,NaN,NaN,Co-administrated,NaN,NaN,AQ

**En esta parte se aplica un filtro de busqueda especializado en variables cuntitativas**

In [35]:
#Filtro por comparacin
filtro6=df[df["life_expectancy"]<= 45]
filtro6

,code,continent,region,surface_area,independence_year,population,life_expectancy,gnp,gnp_old,local_name,government_form,head_of_state,capital,code2
name,,,,,,,,,,,,,,
Angola,AGO,Africa,Central Africa,1246700.0,1975.0,12878000,38.3,6648.0,7984.0,Angola,Republic,Jose Eduardo dos Santos,56.0,AO
Botswana,BWA,Africa,Southern Africa,581730.0,1966.0,1622000,39.3,4834.0,4935.0,Botswana,Republic,Festus G. Mogae,204.0,BW
Central African Republic,CAF,Africa,Central Africa,622984.0,1960.0,3615000,44.0,1054.0,993.0,Centrafrique/Be-Afrika,Republic,Ange-Felix Patasse,1889.0,CF
Mozambique,MOZ,Africa,Eastern Africa,801590.0,1975.0,19680000,37.5,2891.0,2711.0,Mocambique,Republic,JoaquIm A. Chissano,2698.0,MZ
Malawi,MWI,Africa,Eastern Africa,118484.0,1964.0,10925000,37.6,1687.0,2527.0,Malawi,Republic,Bakili Muluzi,2462.0,MW
Namibia,NAM,Africa,Southern Africa,824292.0,1990.0,1726000,42.5,3101.0,3384.0,Namibia,Republic,Sam Nujoma,2726.0,NaN
Niger,NER,Africa,Western Africa,1267000.0,1960.0,10730000,41.3,1706.0,1580.0,Niger,Republic,Mamadou Tandja,2738.0,NE
Rwanda,RWA,Africa,Eastern Africa,26338.0,1962.0,7733000,39.3,2036.0,1863.0,Rwanda/urwanda,Republic,Paul Kagame,3047.0,RW
Swaziland,SWZ,Africa,Southern Africa,17364.0,1968.0,1008000,40.4,1206.0,1312.0,kaNgwane,Monarchy,Mswati III,3244.0,SZ
uganda,uGA,Africa,Eastern Africa,241038.0,1962.0,21778000,42.9,6313.0,6887.0,uganda,Republic,Yoweri Museveni,3425.0,uG
Zambia,ZMB,Africa,Eastern Africa,752618.0,1964.0,9169000,37.2,3377.0,3922.0,Zambia,Republic,Frederick Chiluba,3162.0,ZM
Zimbabwe,ZWE,Africa,Eastern Africa,390757.0,1980.0,11669000,37.8,5951.0,8670.0,Zimbabwe,Republic,Robert G. Mugabe,4068.0,ZW

In [62]:
#Filtro por comparacin
filtro6b=df[df["population"]<= 50000]
filtro6b

,code,continent,region,surface_area,independence_year,population,life_expectancy,gnp,gnp_old,local_name,government_form,head_of_state,capital,code2
name,,,,,,,,,,,,,,
Anguilla,AIA,North America,Caribbean,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the uK,Elisabeth II,62.0,AI
Antarctica,ATA,Antarctica,Antarctica,13120000.0,NaN,0,NaN,0.0,NaN,NaN,Co-administrated,NaN,NaN,AQ
French Southern territories,ATF,Antarctica,Antarctica,7780.0,NaN,0,NaN,0.0,NaN,Terres australes francaises,Nonmetropolitan Territory of France,Jacques Chirac,NaN,TF
Bouvet Island,BVT,Antarctica,Antarctica,59.0,NaN,0,NaN,0.0,NaN,Bouvetoya,Dependent Territory of Norway,Harald V,NaN,BV
Cocos (Keeling) Islands,CCK,Oceania,Australia and New Zealand,14.0,NaN,600,NaN,0.0,NaN,Cocos (Keeling) Islands,Territory of Australia,Elisabeth II,2317.0,CC
Cook Islands,COK,Oceania,Polynesia,236.0,NaN,20000,71.1,100.0,NaN,The Cook Islands,Nonmetropolitan Territory of New Zealand,Elisabeth II,583.0,CK
Christmas Island,CXR,Oceania,Australia and New Zealand,135.0,NaN,2500,NaN,0.0,NaN,Christmas Island,Territory of Australia,Elisabeth II,1791.0,CX
Cayman Islands,CYM,North America,Caribbean,264.0,NaN,38000,78.9,1263.0,1186.0,Cayman Islands,Dependent Territory of the uK,Elisabeth II,553.0,KY
Falkland Islands,FLK,South America,South America,12173.0,NaN,2000,NaN,0.0,NaN,Falkland Islands,Dependent Territory of the uK,Elisabeth II,763.0,FK
Faroe Islands,FRO,Europe,Nordic Countries,1399.0,NaN,43000,78.4,0.0,NaN,Foroyar,Part of Denmark,Margrethe II,901.0,FO
Gibraltar,GIB,Europe,Southern Europe,6.0,NaN,25000,79.0,258.0,NaN,Gibraltar,Dependent Territory of the uK,Elisabeth II,915.0,GI
Heard Island and McDonald Islands,HMD,Antarctica,Antarctica,359.0,NaN,0,NaN,0.0,NaN,Heard and McDonald Islands,Territory of Australia,Elisabeth II,NaN,HM
British Indian Ocean Territory,IOT,Africa,Eastern Africa,78.0,NaN,0,NaN,0.0,NaN,British Indian Ocean Territory,Dependent Territory of the uK,Elisabeth II,NaN,IO
Saint Kitts and Nevis,KNA,North America,Caribbean,261.0,1983.0,38000,70.7,299.0,NaN,Saint Kitts and Nevis,Constitutional Monarchy,Elisabeth II,3064.0,KN
Liechtenstein,LIE,Europe,Western Europe,160.0,1806.0,32300,78.8,1119.0,1084.0,Liechtenstein,Constitutional Monarchy,Hans-Adam II,2446.0,LI
Monaco,MCO,Europe,Western Europe,1.5,1861.0,34000,78.8,776.0,NaN,Monaco,Constitutional Monarchy,Rainier III,2695.0,MC
Montserrat,MSR,North America,Caribbean,102.0,NaN,11000,78.0,109.0,NaN,Montserrat,Dependent Territory of the uK,Elisabeth II,2697.0,MS
Norfolk Island,NFK,Oceania,Australia and New Zealand,36.0,NaN,2000,NaN,0.0,NaN,Norfolk Island,Territory of Australia,Elisabeth II,2806.0,NF
Niue,NIu,Oceania,Polynesia,260.0,NaN,2000,NaN,0.0,NaN,Niue,Nonmetropolitan Territory of New Zealand,Elisabeth II,2805.0,Nu
Nauru,NRu,Oceania,Micronesia,21.0,1968.0,12000,60.8,197.0,NaN,Naoero/Nauru,Republic,Bernard Dowiyogo,2728.0,NR
Pitcairn,PCN,Oceania,Polynesia,49.0,NaN,50,NaN,0.0,NaN,Pitcairn,Dependent Territory of the uK,Elisabeth II,2912.0,PN
Palau,PLW,Oceania,Micronesia,459.0,1994.0,19000,68.6,105.0,NaN,Belau/Palau,Republic,Kuniwo Nakamura,2881.0,PW
South Georgia and the South Sandwich Islands,SGS,Antarctica,Antarctica,3903.0,NaN,0,NaN,0.0,NaN,South Georgia and the South Sandwich Islands,Dependent Territory of the uK,Elisabeth II,NaN,GS
Saint Helena,SHN,Africa,Western Africa,314.0,NaN,6000,76.8,0.0,NaN,Saint Helena,Dependent Territory of the uK,Elisabeth II,3063.0,SH
Svalbard and Jan Mayen,SJM,Europe,Nordic Countries,62422.0,NaN,3200,NaN,0.0,NaN,Svalbard og Jan Mayen,Dependent Territory of Norway,Harald V,938.0,SJ
San Marino,SMR,Europe,Southern Europe,61.0,885.0,27000,81.1,510.0,NaN,San Marino,Republic,NaN,3171.0,SM
Saint Pierre and Miquelon,SPM,North America,North America,242.0,NaN,7000,77.6,0.0,NaN,Saint-Pierre-et-Miquelon,Territorial Collectivity of France,Jacques Chirac,3067.0,PM
Turks and Caicos Islands,TCA,North America,Caribbean,430.0,NaN,17000,73.3,96.0,NaN,The Turks and Caicos Islands,Dependent Territory of the uK,Elisabeth II,3423.0,TC
Tokelau,TKL,Oceania,Polynesia,12.0,NaN,2000,NaN,0.0,NaN,Tokelau,Nonmetropolitan Territory of New Zealand,Elisabeth II,3333.0,TK
Tuvalu,TuV,Oceania,Polynesia,26.0,1978.0,12000,66.3,6.0,NaN,Tuvalu,Constitutional Monarchy,Elisabeth II,3424.0,TV
united States Minor Outlying Islands,uMI,Oceania,Micronesia/Caribbean,16.0,NaN,0,NaN,0.0,NaN,united States Minor Outlying Islands,Dependent Territory of the uS,George W. Bush,NaN,uM
Holy See (Vatican City State),VAT,Europe,Southern Europe,0.4,1929.0,1000,NaN,9.0,NaN,Santa Sede/Citta del Vaticano,Independent Church State,Johannes Paavali II,3538.0,VA
"Virgin Islands, British",VGB,North America,Caribbean,151.0,NaN,21000,75.4,612.0,573.0,British Virgin Islands,Dependent Territory of the uK,Elisabeth II,537.0,VG
Wallis and Futuna,WLF,Oceania,Polynesia,200.0,NaN,15000,NaN,0.0,NaN,Wallis-et-Futuna,Nonmetropolitan Territory of France,Jacques Chirac,3536.0,WF

**En esta parte se aplica un filtro de busqueda con conectores bsicos como es el caso del conector &, or y not.**

Conector &

In [45]:
#Filtro Y
filtro7= df[(df["life_expectancy"] <=70) & (df["region"]== 'South America')]
filtro7

,code,continent,region,surface_area,independence_year,population,life_expectancy,gnp,gnp_old,local_name,government_form,head_of_state,capital,code2
name,,,,,,,,,,,,,,
Bolivia,BOL,South America,South America,1098581.0,1825.0,8329000,63.7,8571.0,7967.0,Bolivia,Republic,Hugo Banzer Suarez,194.0,BO
Brazil,BRA,South America,South America,8547403.0,1822.0,170115000,62.9,776739.0,804108.0,Brasil,Federal Republic,Fernando Henrique Cardoso,211.0,BR
Guyana,GuY,South America,South America,214969.0,1966.0,861000,64.0,722.0,743.0,Guyana,Republic,Bharrat Jagdeo,928.0,GY
Peru,PER,South America,South America,1285216.0,1821.0,25662000,70.0,64140.0,65186.0,Peru/Piruw,Republic,Valentin Paniagua Corazao,2890.0,PE

In [61]:
#Filtro Y
filtro7b= df[(df["independence_year"] > 1910) & (df["region"]== "Caribbean")]
filtro7b

,code,continent,region,surface_area,independence_year,population,life_expectancy,gnp,gnp_old,local_name,government_form,head_of_state,capital,code2
name,,,,,,,,,,,,,,
Antigua and Barbuda,ATG,North America,Caribbean,442.0,1981.0,68000,70.5,612.0,584.0,Antigua and Barbuda,Constitutional Monarchy,Elisabeth II,63.0,AG
Bahamas,BHS,North America,Caribbean,13878.0,1973.0,307000,71.1,3527.0,3347.0,The Bahamas,Constitutional Monarchy,Elisabeth II,148.0,BS
Barbados,BRB,North America,Caribbean,430.0,1966.0,270000,73.0,2223.0,2186.0,Barbados,Constitutional Monarchy,Elisabeth II,174.0,BB
Dominica,DMA,North America,Caribbean,751.0,1978.0,71000,73.4,256.0,243.0,Dominica,Republic,Vernon Shaw,586.0,DM
Grenada,GRD,North America,Caribbean,344.0,1974.0,94000,64.5,318.0,NaN,Grenada,Constitutional Monarchy,Elisabeth II,916.0,GD
Jamaica,JAM,North America,Caribbean,10990.0,1962.0,2583000,75.2,6871.0,6722.0,Jamaica,Constitutional Monarchy,Elisabeth II,1530.0,JM
Saint Kitts and Nevis,KNA,North America,Caribbean,261.0,1983.0,38000,70.7,299.0,NaN,Saint Kitts and Nevis,Constitutional Monarchy,Elisabeth II,3064.0,KN
Saint Lucia,LCA,North America,Caribbean,622.0,1979.0,154000,72.3,571.0,NaN,Saint Lucia,Constitutional Monarchy,Elisabeth II,3065.0,LC
Trinidad and Tobago,TTO,North America,Caribbean,5130.0,1962.0,1295000,68.0,6232.0,5867.0,Trinidad and Tobago,Republic,Arthur N. R. Robinson,3336.0,TT
Saint Vincent and the Grenadines,VCT,North America,Caribbean,388.0,1979.0,114000,72.3,285.0,NaN,Saint Vincent and the Grenadines,Constitutional Monarchy,Elisabeth II,3066.0,VC

Conector O

In [57]:
#Filtro O
filtro8= df[(df["life_expectancy"]>80) | (df["region"]== "Caribbean")]
filtro8

,code,continent,region,surface_area,independence_year,population,life_expectancy,gnp,gnp_old,local_name,government_form,head_of_state,capital,code2
name,,,,,,,,,,,,,,
Aruba,ABW,North America,Caribbean,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Willem-Alexander,129.0,AW
Anguilla,AIA,North America,Caribbean,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the uK,Elisabeth II,62.0,AI
Andorra,AND,Europe,Southern Europe,468.0,1278.0,78000,83.5,1630.0,NaN,Andorra,Parliamentary Coprincipality,NaN,55.0,AD
Netherlands Antilles,ANT,North America,Caribbean,800.0,NaN,217000,74.7,1941.0,NaN,Nederlandse Antillen,Nonmetropolitan Territory of The Netherlands,Willem-Alexander,33.0,AN
Antigua and Barbuda,ATG,North America,Caribbean,442.0,1981.0,68000,70.5,612.0,584.0,Antigua and Barbuda,Constitutional Monarchy,Elisabeth II,63.0,AG
Bahamas,BHS,North America,Caribbean,13878.0,1973.0,307000,71.1,3527.0,3347.0,The Bahamas,Constitutional Monarchy,Elisabeth II,148.0,BS
Barbados,BRB,North America,Caribbean,430.0,1966.0,270000,73.0,2223.0,2186.0,Barbados,Constitutional Monarchy,Elisabeth II,174.0,BB
Cuba,CuB,North America,Caribbean,110861.0,1902.0,11201000,76.2,17843.0,18862.0,Cuba,Socialistic Republic,Fidel Castro Ruz,2413.0,Cu
Cayman Islands,CYM,North America,Caribbean,264.0,NaN,38000,78.9,1263.0,1186.0,Cayman Islands,Dependent Territory of the uK,Elisabeth II,553.0,KY
Dominica,DMA,North America,Caribbean,751.0,1978.0,71000,73.4,256.0,243.0,Dominica,Republic,Vernon Shaw,586.0,DM
Dominican Republic,DOM,North America,Caribbean,48511.0,1844.0,8495000,73.2,15846.0,15076.0,Republica Dominicana,Republic,Hipolito MejIa DomInguez,587.0,DO
Guadeloupe,GLP,North America,Caribbean,1705.0,NaN,456000,77.0,3501.0,NaN,Guadeloupe,Overseas Department of France,Jacques Chirac,919.0,GP
Grenada,GRD,North America,Caribbean,344.0,1974.0,94000,64.5,318.0,NaN,Grenada,Constitutional Monarchy,Elisabeth II,916.0,GD
Haiti,HTI,North America,Caribbean,27750.0,1804.0,8222000,49.2,3459.0,3107.0,Haiti/Dayti,Republic,Jean-Bertrand Aristide,929.0,HT
Jamaica,JAM,North America,Caribbean,10990.0,1962.0,2583000,75.2,6871.0,6722.0,Jamaica,Constitutional Monarchy,Elisabeth II,1530.0,JM
Japan,JPN,Asia,Eastern Asia,377829.0,-660.0,126714000,80.7,3787042.0,4192638.0,Nihon/Nippon,Constitutional Monarchy,Akihito,1532.0,JP
Saint Kitts and Nevis,KNA,North America,Caribbean,261.0,1983.0,38000,70.7,299.0,NaN,Saint Kitts and Nevis,Constitutional Monarchy,Elisabeth II,3064.0,KN
Saint Lucia,LCA,North America,Caribbean,622.0,1979.0,154000,72.3,571.0,NaN,Saint Lucia,Constitutional Monarchy,Elisabeth II,3065.0,LC
Macao,MAC,Asia,Eastern Asia,18.0,NaN,473000,81.6,5749.0,5940.0,Macau/Aomen,Special Administrative Region of China,Jiang Zemin,2454.0,MO
Montserrat,MSR,North America,Caribbean,102.0,NaN,11000,78.0,109.0,NaN,Montserrat,Dependent Territory of the uK,Elisabeth II,2697.0,MS
Martinique,MTQ,North America,Caribbean,1102.0,NaN,395000,78.3,2731.0,2559.0,Martinique,Overseas Department of France,Jacques Chirac,2508.0,MQ
Puerto Rico,PRI,North America,Caribbean,8875.0,NaN,3869000,75.6,34100.0,32100.0,Puerto Rico,Commonwealth of the uS,George W. Bush,2919.0,PR
Singapore,SGP,Asia,Southeast Asia,618.0,1965.0,3567000,80.1,86503.0,96318.0,Singapore/Singapura/Xinjiapo/Singapur,Republic,Sellapan Rama Nathan,3208.0,SG
San Marino,SMR,Europe,Southern Europe,61.0,885.0,27000,81.1,510.0,NaN,San Marino,Republic,NaN,3171.0,SM
Turks and Caicos Islands,TCA,North America,Caribbean,430.0,NaN,17000,73.3,96.0,NaN,The Turks and Caicos Islands,Dependent Territory of the uK,Elisabeth II,3423.0,TC
Trinidad and Tobago,TTO,North America,Caribbean,5130.0,1962.0,1295000,68.0,6232.0,5867.0,Trinidad and Tobago,Republic,Arthur N. R. Robinson,3336.0,TT
Saint Vincent and the Grenadines,VCT,North America,Caribbean,388.0,1979.0,114000,72.3,285.0,NaN,Saint Vincent and the Grenadines,Constitutional Monarchy,Elisabeth II,3066.0,VC
"Virgin Islands, British",VGB,North America,Caribbean,151.0,NaN,21000,75.4,612.0,573.0,British Virgin Islands,Dependent Territory of the uK,Elisabeth II,537.0,VG
"Virgin Islands, u.S.",VIR,North America,Caribbean,347.0,NaN,93000,78.1,0.0,NaN,Virgin Islands of the united States,uS Territory,George W. Bush,4067.0,VI

In [60]:
#Filtro O
filtro8b= df[(df["population"]>50000000) | (df["continent"]== "Asia")]
filtro8b

,code,continent,region,surface_area,independence_year,population,life_expectancy,gnp,gnp_old,local_name,government_form,head_of_state,capital,code2
name,,,,,,,,,,,,,,
Afghanistan,AFG,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
united Arab Emirates,ARE,Asia,Middle East,83600.0,1971.0,2441000,74.1,37966.0,36846.0,Al-Imarat al- Arabiya al-Muttahida,Emirate Federation,Zayid bin Sultan al-Nahayan,65.0,AE
Armenia,ARM,Asia,Middle East,29800.0,1991.0,3520000,66.4,1813.0,1627.0,Hajastan,Republic,Robert KotSarjan,126.0,AM
Azerbaijan,AZE,Asia,Middle East,86600.0,1991.0,7734000,62.9,4127.0,4100.0,Azarbaycan,Federal Republic,Heydar aliyev,144.0,AZ
Bangladesh,BGD,Asia,Southern and Central Asia,143998.0,1971.0,129155000,60.2,32852.0,31966.0,Bangladesh,Republic,Shahabuddin Ahmad,150.0,BD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ukraine,uKR,Europe,Eastern Europe,603700.0,1991.0,50456000,66.0,42168.0,49677.0,ukrajina,Republic,Leonid KutSma,3426.0,uA
united States,uSA,North America,North America,9363520.0,1776.0,278357000,77.1,8510700.0,8110900.0,united States,Federal Republic,George W. Bush,3813.0,uS
uzbekistan,uZB,Asia,Southern and Central Asia,447400.0,1991.0,24318000,63.7,14194.0,21300.0,uzbekiston,Republic,Islam Karimov,3503.0,uZ
Vietnam,VNM,Asia,Southeast Asia,331689.0,1945.0,79832000,69.3,21929.0,22834.0,Viet Nam,Socialistic Republic,Tran Duc Luong,3770.0,VN
Yemen,YEM,Asia,Middle East,527968.0,1918.0,18112000,59.8,6041.0,5729.0,Al-Yaman,Republic,Ali Abdallah Salih,1780.0,YE

Conector NOT

In [66]:
#Filtro not
filtro9=df[~(df["surface_area"] == 4000000) & ~(df["government_form"]== "Republic")]
filtro9

,code,continent,region,surface_area,independence_year,population,life_expectancy,gnp,gnp_old,local_name,government_form,head_of_state,capital,code2
name,,,,,,,,,,,,,,
Aruba,ABW,North America,Caribbean,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Willem-Alexander,129.0,AW
Afghanistan,AFG,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
Anguilla,AIA,North America,Caribbean,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the uK,Elisabeth II,62.0,AI
Andorra,AND,Europe,Southern Europe,468.0,1278.0,78000,83.5,1630.0,NaN,Andorra,Parliamentary Coprincipality,NaN,55.0,AD
Netherlands Antilles,ANT,North America,Caribbean,800.0,NaN,217000,74.7,1941.0,NaN,Nederlandse Antillen,Nonmetropolitan Territory of The Netherlands,Willem-Alexander,33.0,AN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Virgin Islands, u.S.",VIR,North America,Caribbean,347.0,NaN,93000,78.1,0.0,NaN,Virgin Islands of the united States,uS Territory,George W. Bush,4067.0,VI
Vietnam,VNM,Asia,Southeast Asia,331689.0,1945.0,79832000,69.3,21929.0,22834.0,Viet Nam,Socialistic Republic,Tran Duc Luong,3770.0,VN
Wallis and Futuna,WLF,Oceania,Polynesia,200.0,NaN,15000,NaN,0.0,NaN,Wallis-et-Futuna,Nonmetropolitan Territory of France,Jacques Chirac,3536.0,WF
Samoa,WSM,Oceania,Polynesia,2831.0,1962.0,180000,69.2,141.0,157.0,Samoa,Parlementary Monarchy,Malietoa Tanumafili II,3169.0,WS
Yugoslavia,YuG,Europe,Southern Europe,102173.0,1918.0,10640000,72.4,17000.0,NaN,Jugoslavija,Federal Republic,Vojislav KoStunica,1792.0,Yu

In [68]:
#Filtro not
filtro9b=df[~(df["continent"] == 'Europe') & ~(df["government_form"]== "Republic")]
filtro9b

,code,continent,region,surface_area,independence_year,population,life_expectancy,gnp,gnp_old,local_name,government_form,head_of_state,capital,code2
name,,,,,,,,,,,,,,
Aruba,ABW,North America,Caribbean,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Willem-Alexander,129.0,AW
Afghanistan,AFG,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
Anguilla,AIA,North America,Caribbean,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the uK,Elisabeth II,62.0,AI
Netherlands Antilles,ANT,North America,Caribbean,800.0,NaN,217000,74.7,1941.0,NaN,Nederlandse Antillen,Nonmetropolitan Territory of The Netherlands,Willem-Alexander,33.0,AN
united Arab Emirates,ARE,Asia,Middle East,83600.0,1971.0,2441000,74.1,37966.0,36846.0,Al-Imarat al- Arabiya al-Muttahida,Emirate Federation,Zayid bin Sultan al-Nahayan,65.0,AE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Virgin Islands, British",VGB,North America,Caribbean,151.0,NaN,21000,75.4,612.0,573.0,British Virgin Islands,Dependent Territory of the uK,Elisabeth II,537.0,VG
"Virgin Islands, u.S.",VIR,North America,Caribbean,347.0,NaN,93000,78.1,0.0,NaN,Virgin Islands of the united States,uS Territory,George W. Bush,4067.0,VI
Vietnam,VNM,Asia,Southeast Asia,331689.0,1945.0,79832000,69.3,21929.0,22834.0,Viet Nam,Socialistic Republic,Tran Duc Luong,3770.0,VN
Wallis and Futuna,WLF,Oceania,Polynesia,200.0,NaN,15000,NaN,0.0,NaN,Wallis-et-Futuna,Nonmetropolitan Territory of France,Jacques Chirac,3536.0,WF
Samoa,WSM,Oceania,Polynesia,2831.0,1962.0,180000,69.2,141.0,157.0,Samoa,Parlementary Monarchy,Malietoa Tanumafili II,3169.0,WS

In [ ]:
#convertir archivo filtrado a CSV
filtro2b.to_csv("Entregable_Filtro2b.csv")

In [ ]:
#descargar archivo filtrado csv
from google.colab import files

files.download("Entregable_Filtro2b.csv")